node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist
coverage
.vercel
.render

backend/venv
backend/.venv
backend/logs
backend/__pycache__
backend/.pytest_cache
backend/.ruff_cache

public/sw.js
